extends ../layout

block head
  link(rel="stylesheet", href="/stylesheets/demo/demo.css")
  script(type="text/javascript", src="/javascripts/AjaxController.js")
  script(type="text/javascript", src="/javascripts/demo/demoController.js")
  
block content

  script.
    var demoController = new DemoController();
    $(document).ready(function() {
      demoController.init();
    });
  
  ul
    li Annotations
      ul
        li Get all annotations for a medical image
          legend
            form#annotationsGetForm(name="annotationsGetForm")
              input#imageId(placeholder="Image id", required)
              br
              input(type="submit")
              br
          legend
            div Response: 
            div.responseDiv#annotationsGet
        li Create a new annotation
          legend
            div Point annotation
            form#pointAnnotationsCreateForm(name="pointAnnotationsCreateForm")
              input(name="text", placeholder="Annotation text", required) 
              br
              input(name="image_id", placeholder="Image id", required) 
              br
              input(name="start_x", placeholder="Start X", required) 
              br
              input(name="start_y", placeholder="Start Y", required) 
              br
              input(name="type", value="point", type="hidden") 
              input(type="submit") 
              br

          legend
            div Response: 
            div.responseDiv#pointAnnotationsCreate

          legend
            div Range annotation
            form#rangeAnnotationsCreateForm(name="rangeAnnotationsCreateForm")
              input(name="text", placeholder="Annotation text", required) 
              br
              input(name="image_id", placeholder="Image id", required) 
              br
              input(name="start_x", placeholder="Start X", required) 
              br
              input(name="start_y", placeholder="Start Y", required) 
              br
              input(name="end_x", placeholder="End X", required) 
              br
              input(name="end_y", placeholder="End Y", required) 
              br
              input(name="type", value="range", type="hidden") 
              input(type="submit") 
              br
          legend
            div Response: 
            div.responseDiv#rangeAnnotationsCreate
        li Edit an existing annotation
          legend
            form#annotationsEditForm(name="annotationsEditForm")
              input(name="annotationId", placeholder="Annotation id", required) 
              br
              input(type="submit") 
              br
          legend
            div Response: 
            div.responseDiv#annotationsEdit
        li Delete an annotation
          legend
            form#annotationsDeleteForm(name="annotationsDeleteForm")
              span Annotation id: 
              input(name="annotationId", placeholder="Annotation id", required) 
              br
              input(type="submit") 
              br
          legend
            div Response: 
            div.responseDiv#annotationsDelete
    li Contributions
      ul
        li Get all contributors for a medical image
          button Submit
          legend
            div Response: 
            div.responseDiv#contributorsGet
        li Add a new contributor from an image
          button Submit
          legend
            div Response: 
            div.responseDiv#contributorsCreate
        li Delete a contributor from an image
          button Submit
          legend
            div Response: 
            div.responseDiv#contributorsDelete
    li MedImages
      ul
        li Get a medical image
          button Submit
          legend
            div Response: 
            div.responseDiv#imagesGet
        li Create a medical image
          form#uploadImageForm(name="uploadImage")
            input(type="file" name="medImage" required)
            input(type="submit")
          legend
            div Response: 
            div.responseDiv#imagesCreate
        li Delete an image
          button Submit
          legend
            div Response: 
            div.responseDiv#imagesDelete
    li Tags
      ul
        li Get all tags for a medical image
          legend
            form#tagGetForm(name="tagGetForm")
              input(name="image_id", placeholder="Image id", required) 
              br
              input(type="submit") 
              br
            div Response: 
            div.responseDiv#tagsGet
        li Add a new tag to an image
          legend
            form#tagAddForm(name="tagAddForm")
              input(name="tag", placeholder="Tag", required) 
              br
              input(name="image_id", placeholder="Image id", required) 
              br
              input(type="submit") 
              br
            div Response: 
            div.responseDiv#tagsAdd
        li Remove an existing tag from an image
          legend
            form#tagRemoveForm(name="tagRemoveForm")
              input(name="tag", placeholder="Tag", required) 
              br
              input(name="image_id", placeholder="Image id", required) 
              br
              input(type="submit") 
              br
            div Response: 
            div.responseDiv#tagsRemove
        li Get images with the following tags
          legend
            form#tagSearchForm(name="tagSearchForm")
              input(name="tag", placeholder="Tag name's separated by a comma", required) 
              br
              input(type="submit") 
            div Response: 
            div.responseDiv#tagsPhotoGet
