extends ../layout

block head
  script(type="text/javascript", src="/javascripts/demo/demoController.js")
  
block content

  script.
    var demoController = new DemoController();
    $(document).ready(function() {
      demoController.init();
    });
  
  ul
    li Annotations
      ul
        li Get all annotations for a medical image
          button Submit
          div Response: 
          div#annotationsGet
        li Create a new annotation
          button Submit
          div Response: 
          div#annotationsCreate
        li Edit an existing annotation
          button Submit
          div Response: 
          div#annotationsEdit
        li Delete an annotation
          button Submit
          div Response: 
          div#annotationsDelete
    li Contributions
      ul
        li Get all contributors for a medical image
          button Submit
          div Response: 
          div#contributorsGet
        li Add a new contributor from an image
          button Submit
          div Response: 
          div#contributorsCreate
        li Delete a contributor from an image
          button Submit
          div Response: 
          div#contributorsDelete
    li MedImages
      ul
        li Get a medical image
          button Submit
          div Response: 
          div#imagesGet
        li Create a medical image
          form#uploadImageForm(name="uploadImage")
            input(type="file" name="medImage")
            input(type="submit")
          div Response: 
          div#imagesCreate
        li Delete an image
          button Submit
          div Response: 
          div#imagesDelete
    li Tags
      ul
        li Get all tags for a medical image
          button Submit
          div Response: 
          div#tagsGet
        li Add a new tag to an image
          button Submit
          div Response: 
          div#tagsAdd
        li Remove an existing tag from an image
          button Submit
          div Response: 
          div#tagsRemove
        li Get images with the following tags
          button Submit
          div Response: 
          div#tagsPhotoGet
