extends layout

block content
	h1= title
	p Welcome to #{title}
	p Image Requests:
	button Get image data
	button Delete image
	button Add image

	p Annotation Requests:
	button Get annotations of image
	button Remove annotation from image
	button Add annotation to image
	button Edit annotation of image

	p Tag Requests:
	button Get tags
	button Add tag to image
	button Remove tag to image
	button Search for photos with tags

	p Collaboration Requests:
	button Add user to collaborate
	button Remove user to collaborate
	button Check user is on collaborators



