//- 
extends layout
//- Main app page
//- @author: Vicky Gong

block head
  include mixins/css.jade
  +css('grid')
  +css('tag')
  +css('mainpage')

  include mixins/grid.jade
  include mixins/editor.jade
  include mixins/navbar.jade

block content
  div(id="medImageAppContainer", data-ng-controller='medImageAppController')
    //- Navigation bar
    +navbar()

    //- Grid Container
    div.gridContainer(ng-if="!editing")
      +grid('grid')

    div.editorContainer(ng-if="editing")    
      +editor()
