extends layout

block head
  include mixins/css.jade
  +css('grid')
  +css('tag')
  +css('mainpage')

  include mixins/grid.jade

  script(type="text/javascript", src="/javascripts/mainPage.js") 

block content
  div(data-ng-controller='medImageAppController')
    div.gridContainer
      h2 Images in grid
      +grid('grid')

    <br>
    button(class="display-user-images btn btn-default") getUserImages
    <br>
    form
      input(name="tags" type="text" placeholder="tags")
      button(class="get-searched-images-form btn btn-default") getSearchImages
    <br>
    button(class="display-all-images btn btn-default") getAllImages
    <br>
    button(class="clear-images btn btn-default") clearImages


