extends layout

block head
  include mixins/css.jade
  +css('grid')
  +css('tag')

  include mixins/grid.jade

block content
  div(data-ng-controller='medImageAppController')
    +grid('gridContainer')
//- button(id='testButton') click
