//- 
extends layout
//- Main app page
//- @author: Vicky Gong

block head
  include mixins/css.jade
  +css('grid')
  +css('tag')
  +css('mainpage')

  include mixins/grid.jade
  include mixins/editor.jade

block content
  div(id="medImageAppContainer", data-ng-controller='medImageAppController')
    //- Navigation bar
    div.navBar
      div(class="navItem")
        button(class="display-user-images btn btn-default") User
      div(class="navItem")
        form(id="searchForm")
          input(name="tags" type="text" placeholder="tags deliminated by ','")
          button(class="get-searched-images-form btn btn-default") search
      div(class="navItem" id="logoutButton")
        button(class="btn btn-primary") Logout
      div(class="navItem" id="homeButton")
        button(class="display-all-images btn btn-default") Home
      div(class="navItem" id="clearButton")
        button(class="clear-images btn btn-default") clearImages

    //- Grid Container
    div.gridContainer(ng-if="!editing")
      +grid('grid')

    div.editorContainer(ng-if="editing")    
      +editor()
