extends layout

block head
  include mixins/css.jade
  +css('grid')
  +css('tag')
  +css('mainpage')

  include mixins/grid.jade

block content
  div(data-ng-controller='medImageAppController')
    div.gridContainer
      h1 Images in grid
      +grid('grid')

    <br>
    button(id="testUserButton") getUserImages
    <br>
    button(id="testSearchButton") getSearchImages
    <br>
    button(id="testAllButton") getAllImages
