#editor {
  height: 100%;
}

#div-image-data {
  display: none;
}

table {
  width: 100%;
}

#annotationInputCont {
  z-index: 10; 
  height: 56px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  display: none; 
  position: absolute
}

#annotationInput {
  width: 300px; 
  border-radius: 3px;
  display: inline-block;
}

#annotationDeleteBtn {
  margin: -4px 0 0 10px;
}

#editorTable {
  height: 100%;
  padding: 10px;
}

#editorTable td {
  background-color: #fafafa;
}

.editorSection {
  height: 100%;
  padding: 10px;
}

#imageCanvas {
  cursor: default;
  border: 1px solid #ccc;
}

#editorControlsCol {
  width: 400px;
  vertical-align: top;
}

.highlight {
  color: #327bba;
}

.btn-group {
  width: 100%;
}

.tagContainer {
  margin: 5px;
  display: inline-block;
}

.contributionsContainer {
  padding: 5px 0;
}

.error {
  margin: 5px 0;
  padding: 5px;
  text-align: center;
}

.close {
  margin: 5px 5px 0 5px;
}

.deleteTagForm {
  display: inline-block;
}

#controlsTable {
  height: 100%;
  overflow: auto;
}

#controlsTable td {
  vertical-align: top;
}

#controlsRow {
  height: 100%;
  overflow: auto;
}

#deleteImg {
  width: 100%;
}

#titleInput {
  font-size: 32px;
  height: auto;
  border: 1px solid transparent;
  background-color: transparent;
}

#titleInput:hover {
  border: 1px solid #ccc;
}

.form-control.inputError {
  border-color: #BB0000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(171, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(171, 0, 0);
}