table {
  width: 100%;
}

#annotationInputCont {
  z-index: 10; 
  height: 56px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  display: none; 
  position: absolute
}

#annotationInput {
  width: 300px; 
  border-radius: 3px;
  display: inline-block;
}

#annotationDeleteBtn {
  margin: -4px 0 0 10px;
}

#editorTable {
  height: 100%;
  padding: 10px;
}

#editorTable td {
  vertical-align: top;
  background-color: #fafafa;
}

.editorSection {
  height: 100%;
  padding: 10px;
}

#imageCanvas {
  cursor: crosshair;
  border: 1px solid #ccc;
}

#editorControlsCol {
  width: 400px;
}

.highlight {
  color: #327bba;
}

.btn-group {
  width: 100%;
}