block head
  script(type="text/javascript", src="javascripts/helpers/helpers.js")
  script(type="text/javascript", src="javascripts/helpers/circle.js")
  script(type="text/javascript", src="javascripts/helpers/rectangle.js")
  script(type="text/javascript", src="javascripts/helpers/annotation.js")
  script(type="text/javascript", src="javascripts/helpers/PointAnnotation.js")
  script(type="text/javascript", src="javascripts/helpers/RangeAnnotation.js")
  script(type="text/javascript", src="external/js/two.js")
  script(type="text/javascript", src="javascripts/helpers/coord.js")
  script(type="text/javascript", src="javascripts/helpers/editorImg.js")
  script(type="text/javascript", src="javascripts/mixins/editorController.js")
  link(rel="stylesheet", href="stylesheets/editor.css")

mixin editor(imgUrl)
  script.
    var editorController = new EditorController();
    $(document).ready(function() {
      editorController.init("#{imgUrl}");
    });

  table#editorTable
    tbody
      tr
        td
          canvas(id="imageCanvas")
        td#editorControlsCol
          div
            legend
              div
                h2 Zoom
                div.btn-group
                  button(id="zoomInBtn", class="btn btn-default")
                    span.glyphicon.glyphicon-zoom-in
                  button(id="zoomOutBtn", class="btn btn-default")
                    span.glyphicon.glyphicon-zoom-out
            legend
              div
                h2 Edit type
                div.btn-group
                  button(id="editBtn", class="btn btn-default editTypeBtn")
                    span.glyphicon.glyphicon-pencil
                  button(id="annotationBtn", class="btn btn-default editTypeBtn", disabled) 
                    span.glyphicon.glyphicon-record
                  button(id="moveBtn", class="btn btn-default editTypeBtn")
                    span.glyphicon.glyphicon-move
                
