include ./tag.jade
//- Each item represents a single medical image
//- And should be in the following format: 
//- {Id: W, Title: X, ImageUrl: Y, Tags: Z }

block head
  script(type="text/javascript", src="/javascripts/mixins/gridController.js")

mixin grid(id)
  div.grid(id=id, data-ng-controller="gridController")
    h1.title MedImage
    div(ng-init="$root.user=#{JSON.stringify(session.user.username)}")
    div.error(id='errorBox')
    div.gridItemContainer
      div.gridItem(id='{{image._id}}' ng-repeat="image in viewModel.images track by $index")
        div.image
          img(ng-src='{{image.image_url}}')
        div.title
          p(ng-bind='image.title')
        div.tagsContainer
          div.tagItem(ng-repeat="tag in image.tags")
            +tag('{{tag}}')