.gridItem {
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(199, 199, 199);
  height: 310px;
  position: relative;
  width: 240px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.gridItem .image {
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: 10px auto 5px auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  position:relative;
}

.gridItem .image img {
  margin: 0 auto;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.gridItem .title {
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
  max-height: 40px;
  font-size:14pt;
  font-weight: 300;
  margin-top: 2px;
}

.title p {
  margin: 0;
}

.gridItem .tagsContainer {
  padding: 4px;
  max-height: 38px;
  overflow: hidden;
  text-align: center;
}

.tagsContainer .tagItem {
  display: inline-block;
  padding: 2px;
}